<svg width="1000.0" height="1000.0"> 
<rect width="50.0" height="50.0" fill="blue" stroke="black" x="500.0" y="50.0" id="r"/>
<circle r="20.0"  cx="20.0" cy="20.0" id="c"/>
<animate xlink:href="#c" attributeName="cx" from="20.0" to="900.0" dur="2.0s" begin="click+5.0s" fill="freeze"/>
<animate xlink:href="#c" attributeName="cy" from="20.0" to="50.0" dur="5.0s" begin="4.0s" fill="freeze"/>
<rect width="450.0" height="100.0" fill="rgb(255.0, 251.0, 210.0)" x="220.0" y="500.0" id="orange_rec"/>
<animate id="orec" xlink:href="#orange_rec" attributeName="x" from="220.0" to="500.0" dur="5.0s" begin="click" fill="freeze"/>
<text x="250.0" y="250.0">vive la compilation</text>
<circle r="10.0"  fill="rgb(14.285714285714286, 100.0, 33.333333333333336)" stroke="red" cx="120.0" cy="100.0"/>
<circle r="20.0"  fill="rgb(28.571428571428573, 200.0, 66.66666666666667)" stroke="red" cx="220.0" cy="200.0"/>
<circle r="30.0"  fill="rgb(42.857142857142854, 255.0, 100.0)" stroke="red" cx="320.0" cy="300.0"/>
<animate xlink:href="#orange_rec" attributeName="fill" from="orange" to="rgb(10.0, 150.0, 252.0)" dur="2.0s" begin="orec.end+5.0s" fill="freeze"/>
 <svg/>
