<svg width="1000.0" height="1000.0"> 
<rect width="10.0" height="10.0"  fill="blue" stroke="black" x="50.0" y="50.0" id="r"/>
<circle r="20.0" cx="10.0" cy="10.0" id="c"/>
<animate xlink:href="#c"attributeName="cx" from="30.0"  to="50.0" dur="2.0s" begin="click+5.0s" fill="freeze"/>
<animate xlink:href="#c"attributeName="cy" from="10.0"  to="50.0" dur="5.0s" begin="4.0s" fill="freeze"/>
<rect width="450.0" height="100.0"  fill="orange"x="110.0" y="500.0" id="orange_rec"/>
<animate xlink:href="#orange_rec"attributeName="x" from="450.0"  to="600.0" dur="5.0s" begin="click" fill="freeze"/>
 <svg/>
